@import url('https://fonts.googleapis.com/css?family=Lato|Poppins');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave|Sue+Ellen+Francisco');

@font-face {
  font-family: 'Galano';
  src: url('../../assets/fonts/Galano Grotesque DEMO Bold.otf');
}

html {
    overflow: auto;
}

.heading {
    font-family: 'Galano', Lato;
    color: #7a21ff;
    color: #fff;
    font-size: 4em;
    margin-left: 1.5em;
}

.recordImageContainer {
    width: 100%;
    position: relative;
    z-index: 0;
}

.recordImage {
    float: right;
    margin-right: 2em;
    margin-top: -9em;
    animation: spin 5s infinite linear;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 1px #888888;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

.binContainer {
    margin-top: 5em;
}

.binFront {
    display: block;
    margin: auto;
    width: 92%;
    height: 8em;

    position: relative;
    z-index: 2;
    /*top: 17.5em;*/

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    background-image: url('./assets/wood3.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
}

.binLabelContainer {
    /* Positioning is inverted! */
    transform: rotate(180deg);
    width: auto;
    min-width: 150px;
    height: 50%;
    background-color: #fff;
    float: right;
    margin-top: 20px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.binLabelText {
    font-family: Sedgwick Ave, sans-serif;
    font-size: 1.5em;
    display: block;
    padding: 20px;
}

.binBack {
    display: block;
    margin: auto;
    width: 90%;
    height: 20em;

    position: relative;
    z-index: 1;
    bottom: 25em;

    border-radius: 3px;
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    background-image: url('./assets/wood3.jpg');
    background-size: cover;
    background-position: center;
}

.records {
    margin-top: 2em;
    width: 100%;
    position: relative;
    z-index: 1;
}

.album {
    border-radius: 5px;
    width: 14em;
    height: 14em;
    box-shadow: 0 20px 40px rgba(0,0,0,0.45), 0 6px 6px rgba(0,0,0,0.25);

    transition: margin-top 0.5s, width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

.album:hover {
    margin-top: -1em;
}

.album:active {
    width: 16em;
    height: 16em;
}

/* Styling for responsiveness */
@media (max-device-width: 1000px){

}
